---
layout: default
---

{% assign book_info = site.data.books_info[page.book] %}
{% assign chapters = site.books | where_exp: "item", "item.book == page.book" | sort: "order" %}
{% assign prev_order = page.order | minus: 1 %}
{% assign next_order = page.order | plus: 1 %}

<article class="chapter-page">

  <header class="chapter-header">
    <h1 class="chapter-title">{{ page.title }}</h1>

    {% if page.subtitle %}
    <p class="chapter-subtitle">{{ page.subtitle }}</p>
    {% endif %}

    <!-- {% assign words = content | strip_html | number_of_words %} -->


    <!-- <p class="chapter-subtitle">字数: {{ content | strip_html | size }}</p> -->
    <!-- <p class="chapter-subtitle">字数: {{ content | strip_html | replace: " ", "" | size }}</p> -->
    <p class="chapter-subtitle">

      字数：
      {{ content
      | strip_html
      | replace: " ", ""
      | replace: "。", ""
      | replace: "，", ""
      | replace: "！", ""
      | replace: "？", ""
      | replace: "：", ""
      | replace: "；", ""
      | replace: "、", ""
      | replace: "（", ""
      | replace: "）", ""
      | replace: "“", ""
      | replace: "”", ""
      | replace: "《", ""
      | replace: "》", ""
      | size
      }}
    </p>
  </header>

  ---

  <div class="chapter-content">
    {{ content }}
  </div>


  <footer class="chapter-footer">

    <nav class="chapter-nav">
      {% for ch in chapters %}
      {% if ch.order == prev_order %}
      <a class="nav-button prev" href="{{ ch.url }}">
        ← 上一章
      </a>
      {% endif %}

      {% if ch.order == next_order %}
      <a class="nav-button next" href="{{ ch.url }}">
        下一章 →
      </a>
      {% endif %}
      {% endfor %}
    </nav>


    <a href="/books/{{ page.book }}/" class="toc-button">
      返回《{{ book_info.title | default: page.book }}》目录
    </a>

  </footer>

</article>